.ipynb_checkpoints
iMovie Library.imovielibrary
llama-3-8b
llama-from-scratch
llama3
media
torchtune
transformers_local
vanilla-llama
backup-codes.ipynb
download_llama2.sh
download_llama3.sh
llama3-01:08:24.ipynb
llama3-2:09:24.ipynb
llama3-09:08:24.ipynb
llama3-20:07:24.ipynb
llama3-22:08:24.ipynb
notes.txt
.DS_Store.idea